body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(170, 170, 170);
  color: rgb(48, 48, 48);
  padding: 5px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title h1 {
  margin-left: 14px;
}

.auth-box {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
}

.user-name {
  margin-left: 10px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background-color: rgb(79, 79, 79);
  color: white;
  margin-left: 20px;
}

.add-button:hover, .auth-box:hover {
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: rgb(84, 84, 177);
  width: 30%;
  padding: 50px;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: white;
  padding: 10px;
}

.form-container input {
  height: 30px;
  font-size: 26px;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 3px;
}

.movie-form {
  width: 100%;
}

.button-container {
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.add-to-lib-button {
  font-size: 24px;
  width: 180px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.add-to-lib-button:hover {
  cursor:pointer;
}

.movie-card-container {
  display: flex;
  max-width: 1000px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: rgb(87, 87, 87);
  color: white;
  border-radius: 5px;
  width: 240px;
}

.movie-card p {
  height: 20px;
  padding: 5px;
}